In [256]:
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import Imputer
from sklearn import preprocessing
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score
from matplotlib import pyplot as plt
from math import sqrt

In [131]:
train_data = pd.read_csv('train.csv')
train_data.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [132]:
number = preprocessing.LabelEncoder()
train_data = train_data.astype(str)
train_data = train_data.apply(number.fit_transform)
train_data = train_data.fillna(-999)

In [133]:
train_features = train_data.columns
train_target = 'Survived'

In [189]:
x_train = train_data[train_features]
y_train = train_data[train_target]
x_train.drop(x_train.columns[1], axis=1, inplace=True)

In [257]:
forest_model = RandomForestRegressor()
forest_model.fit(x_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

Now, we read test data

In [258]:
test_data = pd.read_csv('test.csv')
test_data.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [259]:
number = preprocessing.LabelEncoder()
test_data = test_data.astype(str)
test_data = test_data.apply(number.fit_transform)
test_data = test_data.fillna(-999)

In [260]:
test_features = test_data.columns
PassengerId = test_data['PassengerId']

In [261]:
x_test = test_data[test_features]

In [262]:
y_predict = model.predict(x_test)

In [263]:
for i in range(0, PassengerId.size):
    PassengerId[i]+=892
PassengerId
my_submission = pd.DataFrame({'PassengerId': PassengerId, 'Survived': y_predict})
my_submission = my_submission.sort_values(by='PassengerId' ,kind='mergesort')
my_submission.to_csv('submision.csv', mode='w', index=False)